body {
    font-family: 'PT Sans', sans-serif;
}

.top-ad-bar {
    text-align:center;
    margin-top: 10px;
    margin-bottom:10px;
}

.no-left-padding {
    padding-left:0;
}

.black-nav {
    background: #292D30; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#292D30, #1d2022); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#292D30, #1d2022); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#292D30, #1d2022); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#292D30, #1d2022); /* Standard syntax */
    padding-top: 20px;
    padding-bottom:20px;
}

.blue-nav {
    background-color: #2096C6; 
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
}

.city-weather {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    color: #99A1A5;
}

.weather-temp {
    color: white;
    font-size:34px;
    padding-left:5px;
}

.get-forecast {
    color: #FFA100;
    font-size:11px;
    padding-top:10px;
}

.navbar-default .navbar-nav>li>a{
    color:white;
    text-transform: uppercase;
    font-size:12px;
    letter-spacing:2px;
    padding: 15px 25px;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#FFA100;
}

.search-btn {
    background-image:none;
    background-color: #FFA100;
    border-radius:0px;
    border-color: #FFA100;
    margin-left:-5px;
}

.block-header {
    background-color: #F2F2F2;
    padding:5px;
    padding-left: 15px;
}

.block-header h4 {
    font-weight:700;
    color: #3B3F40;
}

.top-stories-headline {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    color:#3B3F40;
    border-bottom: 1px solid #F2F2F2;
    padding:7px 15px;
    margin-bottom:none;
}

.top-stories-headline a:hover {
    text-decoration: none;
    color:#FFA100;
}

.more-top-stories {
    background-color: #394144;
    height:135px;
    color:white;
}

.more-title-tag {
    color:#2096C6;
    font-weight:bold;
    font-size:12px;
    padding-top:15px; 
    margin-top:0px;
}

.more-news {
    font-size:15px;
}

.more-time {
    color:#FFA100; 
    position:absolute; 
    bottom:15px;
    margin-bottom:0px;
    font-size:12px;
}

.white-dropdown {
    background-image:none;
    background-color:white;
    border-radius:0px;
    width:100%;
    font-family: 'PT Sans', sans-serif;
    color:#7A8486;
    font-size:12px;
}

.more-link {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    color: #2096C6;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #FFA100;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.trending-title {
    display:block; 
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-size:18px;
}

.poll-box {
    background-color: #2096C6;
    padding:15px;
    color:white;
}

.poll-options {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-size:16px;
}

.load-more-btn {
    background-color: #2096C6;
    color:white;
    font-size:22px;
    border:none;
    padding:10px 15px;
    margin:15px;
}

.more-top-headline {
    padding-left:50px;
    padding-top:40px;
    margin-top:0px;
    line-height:30px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .channel-4000-logo {
      width:100%;
      margin-bottom:30px;
  }
  .forecast-block {
      margin-bottom:30px;
  }
  .account-date {
      text-align: center;
  }
  .featured-top-stories,
  .top-stories,
  .local-news,
  .topics {
      margin-bottom:15px;
  }
  .more-top-headline {
      padding-left:10px;
      padding-top:35px;
  }
}